@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lexend+Deca:wght@100..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background-color: #667358;
}

main{
	width: 100%;
	height: 50px;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}

header{
	width: 100%;
	height: 120px;
	background-color: #818C79;
}

nav{
	width: 35%;
	height: 60px;
	background-color: #294012;
	float: right;
	margin-right: 15px;
	margin-top: 30px;
	border-radius: 20px;
}

section{
	width: 100%;
	height: 700px;
	background-color: #D9D8D2;
}

footer{
	width: 100%;
	height: 70px;
	background-color: #667358;
	margin-top: 0px;
}

#izquierda{
	width: 60%;
	height: 700px;
	background-color: ;
	float: left;
}

#derecha{
	width: 40%;
	height: 700px;
	background-color: #BFAB6F;
	float: left;
}

#foto{
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	
	margin-top: -18px;
}

#foto2{
	height: 500px;
	margin-left: 100px;
	margin-top: 50px;
}

#apartados{
	font-family: "Zain", sans-serif;
	font-size: 30px;	
	margin-left: 130px;
	margin-top: 10px;
}

a{
	text-decoration: none;
	color: #D9D8D2;
	margin-right: 5%;
}

#nombre1{
	margin-top: 20px;
	margin-left: 800px;
	font-family: "Zain", sans-serif; 
	font-size: 20px;
	color: #D9D8D2;
}

#foto4{
	height: 100px;
	margin-left: 1600px;
	margin-top: -40px;
}

#foto3{
	height: 100px;
	margin-left: 1500px;
	margin-top: -180px;
}

#titulo1{
	color: darkred;
	margin-left: 20px;
	margin-top: 25px;
	font-family: "Zain", sans-serif;
	font-size: 35px;
}

#texto1{
	margin-left: 20px;
	margin-right: 60px;
	margin-top: 10px;
	font-family: "Zain", sans-serif;
}

#subtitulo1{
	margin-left: 20px;
	margin-top: 25px;
	font-family: "Zain", sans-serif;
	font-size: 25px;
}

#subtitulo2{
	margin-left: 20px;
	margin-top: 25px;
	font-family: "Zain", sans-serif;
	font-size: 25px;
}

ul{
	font-family: "Zain", sans-serif;
	margin-left: 20px;
	margin-right: 60px;
	margin-top: 10px;
	color: #D9D8D2;
}

#video1{
	margin-left: 50px;
}